 section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
}
.sumDifference {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 100px;
    text-align: center;
}
.operation {
    display: flex;
}

input {
    height: 64px;
    width: 150px;
    font-size: 20px;
}

#plus {
    background: gray;
    color: white;
    height: 70px;
    width: 95px;
    font-size: 40px;
    font-weight: bold
}

#minus {
    background: gray;
    color: white;
    height: 70px;
    width: 95px;
    font-size: 40px;
    font-weight: bold
}